div#root{
  width: 1488px;
  height: 1024px;
  background-color: white;
}

/* This also applies to div#root, which would double the padding than intended.
div{
  margin: 44px 435px 440px 168px;
}*/

div.DocketBar{
  margin: 20px 435px 440px 50px;
  background-color: #F5F6F7;
}

span.groupHeader{
  display: block;
  width: 300px;
  height: 26px;
  border: thin solid pink;
  border-radius: 13px;
  padding: 2px;
  margin: 10px;
  background-color: pink;
}